.product-paga-content-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 180px;
	width: 100%;
}

.product-page-photo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 467px;
	max-height: 467px;
	margin-right: 40px;
}

.product-page-description {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	border: none;
	resize: none;
	color: #586A84;
	background-color: white;
	margin-top: 30px;
	min-height: 222px;
}

@media (max-width: 933px) {
	.product-page-photo-wrapper {
		margin-right: 0px;
	}
	.product-paga-content-wrapper {
		flex-direction: column;
		align-items: center
	}

	.product-page-description {
		min-height: 0px;
	}
}

.product-page-photo {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.product-page-title {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 24px;
	color: #007580;
	margin-top: 20px;
}

.product-page-content-description {
	display: flex;
	flex-direction: column;
	width: 40%
}

.product-page-price {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 20px;
}

.product-page-cart-button {
	margin-top: 20px
}